<footer class="footer-distributed">

      <div class="footer-left">

        <IMG src="" alt="">

        <p class="footer-links">
          <a href="#">Home</a> ·
          <a href="#">Ticketing</a> ·
          <a href="#">About</a> ·
          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">Wild Circus &copy; 2021</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>21 Revolution Circus</span> Wild Street, WT</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>911-112-936</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="">wildcircus@company.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About Us</span>Different numbers of artists like trapeze artists, clowns. He often settles under a big tent in a city. The animals form a menagerie, there are lions, tigers, llamas. There are also tightrope walkers who walk and do acrobatic figures on a wire stretched above the ground
        </p>

      </div>

    </footer>